@require 'nib'
@require 'jeet'

global-reset()

better-font()
  -webkit-text-size-adjust: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  font-feature-settings: 'liga', 'kern'
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif
  font-weight: 300

html, body
  better-font()
  width: 100%
  height: 100%

  background: linear-gradient(90deg, #003973 10%, #E5E5BE 90%)
  background-repeat: no-repeat
  background-attachment: fixed
  background-blend-mode: multiply

// remove for perf
*
  box-sizing: border-box

.message-wall
  center()

  .chat-message
    width: 400px
    margin: 10px
    border-radius: 3px
    overflow: hidden
    position: relative
    display: inline-block

    .chat-message-video
      display: block
      width: 100%

    .chat-message-text
      display: inline-block
      text-align: center
      background-color: #fff
      padding: 5px
      width: 100%
      color: #333

// TODO: make the size of the camera the same as the grid vid size
.bottom-bar
  z-index: 10
  position: relative
  fixed: bottom left
  width: 100%

  .bottom-bar-selfie
    span(1/5)
    max-height: 25vh
    background-color: #000

  .bottom-bar-text
    better-font()
    span(4/5)
    absolute: bottom right
    border: none
    outline: none
    font-size: 1.25em
    padding: 6px
    padding-left: 15px
    color: #333
    background-color: #fff