@require 'nib'
@require 'jeet'

global-reset()

html, body
  width: 100%
  height: 100%

body
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  font-size: 14px/1.5

  color: #333
  background-color: #fff

  -webkit-text-size-adjust: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  font-feature-settings: 'liga', 'kern'

  color: #fff
  text-align: center
  background-color: #0a1855
  background-image: linear-gradient(45deg, #0a1855, #da0024)
  background-repeat: no-repeat
  background-attachment: fixed

.logo
  margin: 0 auto
  padding: 20px
  width: 140px
  max-width: 100%

.wall
  margin-bottom: 240px
  
.remote-vid, .video-preview
  animation: fadein 0.5s
  transition: all 0.5s ease-in-out

  border-radius: 3px

  @media screen and (min-width: 700px)
    height: 240px
    width: 320px

  @media screen and (max-width: 700px)
    height: 160px
    width: 213px

  @media screen and (max-width: 400px)
    height: 120px
    width: 160px

.video-preview
  position: fixed
  left: 10px
  bottom: 10px

.recording
  border-radius: 0
  background-color: rgba(0,0,0,0.6)
  bottom: 0
  left: 0
  height: 100%
  width: 100%

.remote-vid
  margin: 10px

@keyframes fadein
  from
    opacity: 0
  to
    opacity: 1
