@require 'nib'
@require 'jeet'

global-reset()

html, body
  width: 100%
  height: 100%

body
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  font-size: 14px/1.5

  color: #333
  background-color: #fff

  -webkit-text-size-adjust: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  font-feature-settings: 'liga', 'kern'

  color: #fff
  text-align: center
  background-color: #0a1855
  background-image: linear-gradient(45deg, #0a1855, #da0024)
  background-repeat: no-repeat
  background-attachment: fixed

// TODO: use jeet grid system for wall and msgs
.wall
  margin-bottom: 160px

.chat-message
  position: relative
  display: inline-block

  .chat-message-video
    max-width: 100%
    height: 160px
    width: 213px

  .chat-message-text
    absolute: bottom
    color: #fff
    padding: 3px
    height: 16px
    width: 100%
    background-color: #000

.bottom-bar
  margin: 0
  z-index: 100
  position: fixed
  left: 10px
  bottom: 10px
  width: 100%

  .bottom-bar-selfie
    display: inline-block
    height: 160px
    width: 213px

  .bottom-bar-text
    display: inline-block
    width: 300px

@keyframes fadein
  from
    opacity: 0
  to
    opacity: 1
